main {
  display: flex;
}

.back-button {
  background-color: #147fa1;
  padding: 1rem;
  border: none;
  border-radius: 2em;
  color: white;
  text-decoration: none;
  width: max-content;
  font-size: 1rem;
}

.details-wrapper h2 {
  color: #2596be;
  margin-bottom: 0.5em;
  text-align: center;
  cursor: pointer;
}

.details-wrapper h3 {
  color: #2596be;
  margin-bottom: 0.5em;
}

.details-wrapper h2:hover {
  color: #00407a;
  text-decoration: underline;
}

.details-wrapper ul {
  list-style: none;
  padding: 0;
}

.details-wrapper li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.details-wrapper li:last-child {
  border-bottom: none;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 3em;
  width: 50%;
}

#page-control {
  background: rgba(255, 255, 255, 0.95);
  padding: 5px 10px;
  border-radius: 5px;
}

#pdf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#pdf-preview {
  margin-top: 2rem;
  height: 69vh;
  overflow-y: auto;

  /* Scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #615c5c transparent;
}

#pdf-preview canvas {
  width: 700px;
}

#pdf-loading {
  text-align: center;
  align-self: center;
  & p {
    margin: 0;
  }
}

#page-header {
  text-align: center;
  margin-top: 1rem;
}

.buttons-under-title {
  margin: 0px 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filename-title {
  color: #2596be;
  cursor: pointer;
  margin: 0;
}

.filename-title:hover {
  color: #00407a;
  text-decoration: underline;
}

.log-box {
  max-height: 350px;
  max-width: 700px;
  min-width: 550px;
  overflow-y: auto;
  background: #222;
  color: white;
  border-radius: 0.5rem;
  font-family: monospace;
  padding-right: 12px;
  box-sizing: content-box;
}

.log-box::-webkit-scrollbar {
  width: 8px;
  background-color: #222;
  border-radius: 10px;
}

.log-box::-webkit-scrollbar-thumb {
  background-color: #615c5c;
  border-radius: 10px;
}

.log-line {
  margin: 0.25rem 0;
  margin-left: 10px;
}

.log-line.warning {
  color: #f87171;
}

.log-line.info {
  color: #facc15;
}

.log-line.success {
  color: #4ade80;
}

.log-line:hover {
  background-color: #424547;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.setting-item select {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  color: #00407a;
  min-width: 250px;
  transition: border-color 0.3s;
}

.setting-item select:hover,
.setting-item select:focus {
  border-color: #00407a;
  outline: none;
}

.manually-checked-button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0px 20px;
  background-color: #147fa1;
  color: white;
  border-radius: 3rem;
  border: 2px solid white;
}

.manually-checked-button > input[type="checkbox"] {
  transform: scale(1.5);
  accent-color: #00407a;
  border: 2px solid white;
}

.stats-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.stat {
  text-align: center;
}

.stat span {
  display: block;
  margin-top: 5px;
}

.setting-item {
  color: #00407a;
  margin-bottom: 1.5rem;
  width: 562px;
  position: absolute;
  bottom: 0;
}

.options {
  /* background-color: #00407a; */
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.option {
  display: block;
  text-align: center;
  width: 100%;
  background-color: white;
  color: #00407a;
  padding: 1em;
  box-sizing: border-box;
  border: none;
  border: 2px solid #333;
}

.option.selected.red {
  background-color: #f87171;
  color: white;
}

.option.selected.orange {
  background-color: #facc15;
  color: white;
}

.option.selected.green {
  background-color: #4ade80;
  color: white;
}

.option-1 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.option-2 {
  border-left: none;
  border-right: none;
}

.option-3 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.log-level {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
  }

.setting-item {
  display: flex;
}
}

