html {
  scroll-behavior: smooth;
  font-size: 1.2rem;
  font-family: sans-serif;
  scroll-padding-top: 90px; /* Adjust this to match your header height */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  & nav {
    height: 70px;
    & a {
      max-width: 385px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      max-height: 70px;
      align-items: end;
    }
  }
}

p {
  max-width: 80%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.content-table {
  background-color: #52bdec;
  position: fixed;
  left: 0;
  width: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  z-index: 1;
}

.content-table ul {
  width: 150px;
  list-style: none;
  padding-left: 0;
}

.content-table li {
  margin: 10px 0;
}

.content-table li a {
  text-decoration: none;
  color: white;
}

.content-table li a:hover {
  text-decoration: underline;
}

.content-table a.active {
  font-weight: bold;
}

.content-container {
  margin-top: 70px;
  margin-left: 300px;
  margin-bottom: 40%;
  width: 100%;
}

.progress-icon-list li {
  margin: 5px 0;
}

.horizontal-split {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5rem;
}

.queue,
.processing,
.checked,
.error {
  list-style: none;
  position: relative;
  padding-left: 24px;
}

.queue::before,
.processing::before,
.checked::before,
.error::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.queue::before {
  background-image: url("../assets/img/image_file_queue.png");
}

.processing::before {
  background-image: url("../assets/img/image_file_processing.png");
}

.checked::before {
  background-image: url("../assets/img/image_file_checked.png");
}

.error::before {
  background-image: url("../assets/img/image_file_error.png");
}