header {
  background-color: #52bdec;
}

/* Navigation */
nav {
  max-width: 1200px;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}

nav a img {
  height: 80px;
  margin: 0;
  padding: 0;
}

/* Dropdown */
nav button {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 1rem;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  z-index: 100;
}

/* Arrow */
nav button span {
  margin-left: 5px;
}

/* Hover effect on options */
nav button:hover,
nav ul.nav-options li:hover {
  background-color: #70cdf5;
}

/* Options */
nav ul.nav-options {
  background-color: #52bdec;
  border: 2px solid white;
  border-radius: 25px;
  list-style: none;
  padding: 3rem 0 0;
  margin: auto 0;
  width: 150px;
  box-sizing: border-box;
  position: absolute;
}

nav ul.nav-options li {
  text-align: center;
  border-bottom: 1px solid white;
}

/* Rounded border on last child */
nav ul.nav-options li:last-child {
  border-bottom: none;
  border-radius: 0 0 25px 25px;
}

nav ul.nav-options li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

/* Wrapper for dropdown button and options */
nav div.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
  width: 150px;
  box-sizing: border-box;
  z-index: 999;
}

/* Rounded border on last child */
nav ul.nav-options li:last-child {
  border-bottom: none;
  border-radius: 0 0 25px 25px;
}
