header {
    background-color: #00407A;
    height: 150px;
    display: flex;
    align-items: center;
    position: relative; /* for absolute positioning of button */
    margin-bottom: 2rem;
}

/* Center the image */
header img {
    max-height: 75px;
    margin: 0 auto; /* center horizontally */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Position the button on the right */
.home-button {
    position: absolute;
    right: 120px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #58bcec;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #08447c;
}
