.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-wrap: wrap;
  gap: 30px;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.file-box {
  flex: 1 1 350px;
  min-width: 300px;
  max-width: 600px;
  height: 450px;
  background-color: #147fa1;
  color: white;
  padding: 16px;
  border-radius: 4px;
  box-sizing: border-box;
}

.file-box h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.drop-area {
  flex: 1 1 300px;
  min-width: 260px;
  max-width: 500px;
  height: 450px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 14px;
  transition-duration: 200ms;
  cursor: pointer;
}

.drop-area:hover {
  color: #147fa1;
  border-color: #147fa1;
  transition-duration: 200ms;
}

.file-list-display {
  background-color: white;
  height: 300px;
  border-radius: 6px;
  overflow-y: auto;
  padding: 8px;
  color: #000;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.file-list-display ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.file-list-display li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  word-break: break-word;
}

.file-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-dropdown-button {
  background-color: white;
  color: #147fa1;
  border: 2px solid #147fa1;
  border-radius: 25px;
  padding: 1rem;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  z-index: 100;
  margin-bottom: 1em;
}

button span {
  margin-left: 5px;
}

button:hover,
ul.project-options li:hover {
  background-color: #147fa1;
  color: white;
}

ul.project-options {
  background-color: white;
  color: #147fa1;
  border: 2px solid #147fa1;
  border-radius: 25px;
  list-style: none;
  padding: 3rem 0 0;
  margin: auto 0;
  width: 400px;
  box-sizing: border-box;
  position: absolute;
}

ul.project-options li {
  text-align: center;
  border-bottom: 1px solid #147fa1;
  display: block;
  padding: 1rem;
  color: #147fa1;
  text-decoration: none;
}

ul.nav-options li:last-child {
  border-bottom: none;
  border-radius: 0 0 25px 25px;
}

div.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 400px;
  box-sizing: border-box;
  z-index: 999;
}

ul.project-options li:last-child {
  border-bottom: 1px solid transparent;
  border-radius: 0 0 25px 25px;
}

.left-container {
  display: flex;
  flex-direction: column;
  min-height: 450px;
}

#no-projects {
  color: red;
  &:hover {
    color: darkred;
    cursor: pointer;
    background-color: #fff;
  }
}
