body {
  min-height: 150vh;
}

main {
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
}

h1 {
  color: #147fa1;
}

p {
  font-size: larger;
}

.row {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-padding {
  margin-left: 1em;
}

.bottom {
  text-align: center;
  align-self: center;
  margin: 1rem;
}

.landing-title {
  text-align: center;
}
