body {
  font-family: sans-serif;
  padding: 1rem;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  align-items: flex-start;
  gap: 260px;
}

.list-wrapper {
  width: 50%;
}

.list-wrapper h3 {
  margin-bottom: 10px;
}
  
.list-wrapper ul {
  height: 415px;
  overflow-y: scroll;
  padding: 0;
}

.list-wrapper ul li {
  list-style-type: none;
  border: 1px solid gray;
}

.file-list {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: monospace;
  color: #222;
}

.file-list li {
  margin-bottom: 4px;
}

#file-section{
  margin: 20px auto;
  width: 84%;
}

.check-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.check-btn{
  border-radius: 20px;
  border: 1px solid #2596be;
  background-color: #2596be;
  color: white;
  height: fit-content;
  padding: 10px 20px;
  cursor: pointer;
}

.remove-btn {
  margin-left: 10px;
  cursor: pointer;
  color: red;
  border: none;
  background: transparent;
  font-weight: bold;
}

.index-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.standard-btn {
  padding: 5px;
  color: white;
  background-color: #52BDEC;
  border: 1px solid #52BDEC;
}
  